<div class="wrap-for-search">
    <div class="search">
        <input type="text" [(ngModel)]="searchWord" placeholder="type here...">
        <button (click)="onClick()">Search</button>
    </div>
</div>
<div *ngIf="!isResult" class="wrap-for-search">
  <div>
    <h2>Shown the most popular videos</h2>
  </div>
</div>
<div class="wrapper">
  <div *ngFor="let item of response" class="videoBlock">
      <h4>{{item.title}}</h4>
      <a href="{{item.videoLink}}">
          <img src="{{item.pictureLink}}" alt="{{item.title}}">
      </a>
      <p>{{item.published}}</p>
    </div>
</div>